/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Elements Section */
#home {
  text-align: center;
}

.elements-icons {
  display: flex;
  justify-content: center;
}

.element {
  margin: 10px;
}

/* Earth */
.earth {
  color: green;
}
.earth h2 {
  font-family: 'Moreganic', sans-serif; /* Example font */
}

/* Water */
.water {
  color: blue;
}
.water h2 {
  font-family: 'Wave Burn', sans-serif; /* Example font */
}

/* Fire */
.fire {
  color: orange;
}
.fire h2 {
  font-family: 'Bonfire Typeface', sans-serif; /* Example font */
}

/* Air */
.air {
  color: gray;
}
.air h2 {
  font-family: 'Air Sans', sans-serif; /* Example font */
}

/* Space */
.space {
  color: purple;
}
.space h2 {
  font-family: 'Air Font Family', sans-serif; /* Example font */
}



/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007acc;
}

.logo {
  color: white;
/*  font-size: 24px;*/
  height: 10%;
  width: auto;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

/* Image Section */
.image-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-section img {
  width: calc(33.33% - 20px); /* Responsive width */
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  padding: 50px;
}

.welcome-section h1 {
  font-size: 36px;
}

.welcome-section p {
  margin-top: 10px;
}

/* Website Overview Section */
.overview-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.overview-card {
  width: calc(33.33% - 20px);
}

.overview-card h2 {
  font-size: larger;
}

/* Footer */
.footer {
  background-color: darkturquoise; /* Dark footer background */
  color: white; /* White text for contrast */
}

.footer-content {
  display: flex; /* Flexbox layout for footer columns */
  justify-content: space-between; /* Space between each column */
  padding: 20px;
}

.footer-column {
  flex-basis: calc(33.33% - (20px /2));
}
.footer-column h3