/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007acc;
}

.logo {
  color: white;
}

.nav a {
  color: white;
  margin-left: 15px;
}

/* Contact Section */
.contact-section {
  padding: 50px;
}

.contact-section h1 {
  text-align: center;
}

.contact-section p {
  text-align: center;
}

/* Contact Form */
.contact-form-container {
  max-width: 600px;
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - (10px *2));
}

/* Error Messages */
.error-message {
}

/* Social Media */
.social-media-links i {}
.social-media-links:hover{}
.social-media-links
