/* General Reset */
:root {
  --border-radius: 1px lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Earth */
.earth {
  color: green;
}
.earth h2 {
  font-family: 'Moreganic', sans-serif; /* Example font */
}

/* Water */
.water {
  color: blue;
}
.water h2 {
  font-family: 'Wave Burn', sans-serif; /* Example font */
}

/* Fire */
.fire {
  color: orange;
}
.fire h2 {
  font-family: 'Bonfire Typeface', sans-serif; /* Example font */
}

/* Air */
.air {
  color: gray;
}
.air h2 {
  font-family: 'Air Sans', sans-serif; /* Example font */
}

/* Space */
.space {
  color: purple;
}
.space h2 {
  font-family: 'Air Font Family', sans-serif; /* Example font */
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007acc;
}

.logo {
  color: white;
  font-size: 24px;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.profile-picture {
    width: auto; /* Adjust based on desired size */
    height: auto;
    max-width: calc(100% - (20px * 2)); /* Ensure responsive sizing */
    margin: auto;
    display: block;
    border-radius: var(--border-radius); /* Use theme variables if available */
}

/* Carousel Section */
.carousel-section {
  text-align: center;
  padding: 50px;
}

.carousel-container {
  position: relative;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.icon {
  font-size: 50px;
}

.certifications-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  text-align: left; /* Align items for better readability */
}

.certifications-list li {
  margin-bottom: 10px;
}

.certifications-list strong {
  font-weight: bold;
}

.certifications-list em {
  font-style: italic;
  color: #666;
}

.carousel-btn {
  margin-top: 20px;
}

/* Footer */
.footer {
  background-color: darkturquoise; /* Dark footer background */
  color: white; /* White text for contrast */
}

.footer-content {
  display: flex; /* Flexbox layout for footer columns */
  justify-content: space-between; /* Space between each column */
  padding: 20px;
}

.footer-column {
  flex-basis: calc(33.33% - (20px /2));
}
.footer-column i {
  font-size: large; /* Adjust icon size */
}
